@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 60px;
  width: 60%;
  background: #d2691e;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 10px;
  width: 65%;
  background: #ffa500;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 20px;
  width: 50%;
  background-color: #ff6347;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 50px;
  width: 70px;
  background: #8b4513;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 30px;
  width: 65%;
  background: #a0522d;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 20px;
  width: 60%;
  background: #7fff00;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 60%;
  background-color: #8b008b;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #d2691e;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #656565;
  border-radius: 20px 20px 200px 200px;
}
